/* 
    ENTIRE FILE WRITTEN BY BLAKE DEJOHN
*/
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.76);
    width: 30%;
    border-radius: 1vh;
    text-align: center;
}
.pagination {
    font-size: xx-large; /* Increase font size */
    margin-bottom: 3vh; /* Add space below pagination */
    margin-top: 3vh; /* Add space above pagination */
    border: 1vh rgba(0, 0, 0, 0.5); /* Add border around pagination */
    background-color: rgba(0, 0, 0, 0.229); /* Add background color to pagination */
    border-radius: 1vh; /* Add border radius to pagination */
    text-align: center; /* Center text in pagination */
}
.pagination-buttons {
    margin-top: 1vh; /* Add space above buttons */
}
.pagination-button {
    margin: 0 1vh; /* Add space between links */
    text-decoration: none; /* Remove underline from links */
}
.painting-title{
    font-size: 5vh;
    background-color: rgba(0, 0, 0, 0.229);
    border-radius: 1vh;
}
.painting-details{
    font-size: 3vh;
}
.painting-item{
    margin-bottom: 10vh;
}
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 1vh;
    border: 0;
    background-color: rgba(0, 0, 0, 0.229);
    cursor: pointer;
}
.search-input {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 1vh;
    border: 0;
    margin-bottom: 2vh;
}
.search-button-reset{
    font-size: 3vh;
    padding: 1vh;
    border-radius: 1vh;
    border: 0;
    background-color: rgba(0, 0, 0, 0.229);
    cursor: pointer;
    margin-top: 2vh;
}
.no-results{
    font-size: 5vh;
}
.painting-list{
    list-style: none;
    padding: 0;
}
.page-title{
    font-size: 5vh;
    margin-top: 3vh;
}
.buy-button{
    font-size: 3vh;
    padding: 1vh;
    border-radius: 1vh;
    border: 0;
    background-color: rgba(16, 162, 82, 0.662);
    cursor: pointer;
}
.delete-button{
    font-size: 3vh;
    padding: 1vh;
    border-radius: 1vh;
    border: 0;
    background-color: rgba(162, 16, 16, 0.662);
    cursor: pointer;
}
.flashes {
    margin: 20px 0;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.form-group {
    margin-bottom: 2vh;
}
.update-button{
    font-size: 2vh;
    padding: 1vh;
    border-radius: 1vh;
    border: 0;
    background-color: rgba(16, 162, 82, 0.662);
    cursor: pointer;
}
.guest-button{
    position: absolute;
    top: 1vh;
    right: 1vh;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 1vh;
    border: 0;
    background-color: rgba(16, 162, 82, 0.662);
    cursor: pointer;
    margin: 2vh;
}
