{% extends "layouts/form_layout.html" %}

{% block title_form %}
<h2 style="color: white;">Delete Users</h2> 
{% endblock %}

{% block body_form %}
<form action="{{ url_for('userdelete_temp')}}" method="get">
  <label for="useremail">Select a user</label>
  <select name="useremail">
    {% for email in userlist %}
      <option value="{{ email }}">{{ email }}</option>
    {% endfor %} 
  </select>
  <div>
    <!-- <input type="hidden" id="confirmInput" name="confirmInput">  -->
    <button type="submit" name="delete_button" value="delete_button"> Delete </button>
  </div>
</form>
{% endblock %}