<!-- ENTIRE FILE WRITTEN BY BLAKE DEJOHN -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/paintings.css')}}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/wallpaper.png') }}");
        }
    </style>
</head>
<a href="/home"><button class="search-button-reset" style="background-color: rgba(172, 169, 169, 0.65);">Go Back</button></a>
<body>
    <div class="container">

        <h1 class="page-title">Our Current Pieces</h1>

        <div class="pagination">
            <span>Page {{pagination.page}} of {{pagination.pages}}</span>
            <div class="pagination-buttons">
                {% if pagination.has_prev %}
                <a class = "pagination-button" href="{{ url_for('paintings',page=pagination.prev_num, query=query, sort_by = sort_by) }}">Previous</a>
                {% endif %}
                {% if pagination.has_next %}
                <a class = "pagination-button" href="{{ url_for('paintings', page=pagination.next_num, query=query, sort_by = sort_by) }}">Next</a>
                {% endif %}
            </div>
        </div>

        <form id = "search-form" class="search-form" action="/paintings" method = "get">
            <input type="text" name="query" value = "{{ query }}" placeholder="Search paintings..." class="search-input">
            <select id = "sort-by" name="sort_by" class = "search-input">
                <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Sort by Title</option>
                <option value="year" {% if sort_by == 'year' %}selected{% endif %}> Sort by Year</option>
            </select>
            <button type="submit" class = "search-button">Search</button>
            <a href = "/paintings" class="search-button-reset">Reset Search</a>
        </form>

        {% if paintings %}
        <ul class="painting-list">
            {% for painting in paintings %}
                <li class="painting-item">
                    <h2 class="painting-title">{{ painting.title }}</h2>
                    <p class="painting-details">Artist:
                        {% for creator in creators %}
                            {% if creator.creator_id == painting.creator_id %}
                                {{creator.creator_fname}} {{creator.creator_lname}}
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p class="painting-details">Year: {{ painting.year_finished }}</p>
                    <p class="painting-details">Period: {{ painting.period }}</p>
                    <p class="painting-details">Price: ${{ painting.cost }}</p>
                    <img src="{{ painting.photo_link }}" alt="{{ painting.title }}" style="max-width: 50vh; max-height: 50vh;">
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-results">No paintings found for your search query.</p>
        <a href = "/paintings" class="no-results">Go back to all paintings</a>
        {% endif %}
        <div class="pagination">
            <span>Page {{pagination.page}} of {{pagination.pages}}</span>
            <div class="pagination-buttons">
                {% if pagination.has_prev %}
                <a class = "pagination-button" href="{{ url_for('paintings',page=pagination.prev_num, query=query, sort_by = sort_by) }}">Previous</a>
                {% endif %}
                {% if pagination.has_next %}
                <a class = "pagination-button" href="{{ url_for('paintings', page=pagination.next_num, query=query, sort_by = sort_by) }}">Next</a>
                {% endif %}
            </div>
        </div>
        <script src="{{url_for('static', filename='js/paintings.js')}}"></script>
    </div>
</body>
</html>