{% extends "layouts/form_layout.html" %}

{% block title_form %}
<h2 style="color: white;">Update Transactions</h2> 
{% endblock %}

{% block body_form %}
<form action="{{ url_for('transactionupdate')}}" method="post">
    <div>
        <label for="transactioninfos">Select a transaction to update</label>
        <select name="transactioninfos">
            {% for info in transactioninfos %}
                <option value="{{ info }}">{{ info }}</option>
            {% endfor %} 
        </select>
    </div>
    <h5>Enter the updated transaction details</h5>
    <label for="artpieces">Enter the updated art piece</label>
    <div>
        <select name="artpieces">
            {% for artpiece in artpieces %}
                <option value="{{ artpiece }}">{{ artpiece }}</option>
            {% endfor %} 
        </select>
    </div>
    <label for="buyers">Enter the updated buyer</label>
    <div>
        <select name="buyers">
            {% for buyer in buyers %}
                <option value="{{ buyer }}">{{ buyer }}</option>
            {% endfor %} 
        </select>
    </div>
    <label for="sellers">Enter the updated seller</label>
    <div>
        <select name="sellers">
            {% for seller in sellers %}
                <option value="{{ seller }}">{{ seller }}</option>
            {% endfor %} 
        </select>
    </div>
    <label for="timestamp">Enter the updated timestamp</label>
    <div>
        <input type="date" name="timestamp" placeholder="Date of Purchase">
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
{% endblock %}