<!-- Written by Kyle Easton -->
{% extends "layouts/form_layout.html" %}

{% block title_form %}
<h2 style="color: white;">Update User</h2> 
{% endblock %}

{% block body_form %}
<form action="{{ url_for('userupdate_temp')}}" method="get">
    <div>
        <label for="usernames">Select a user to update</label>
        <select name="usernames">
            {% for fname, lname, email, pwd, role in userlist %}
                <option value="{{ email }}">{{ email }}</option>
            {% endfor %} 
        </select>
    </div>
    <h5>Enter the updated user details</h5>
    <div>
        <input type="text" name="ufname" placeholder="First Name">
    </div>
    <div>
        <input type="text" name="ulname" placeholder="Last Name">
    </div>
    <div>
        <input type="email" name="email" placeholder="Email">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    {% if admin %}
    <div>
        <select name="role" class="hidden">
            <option value="P">Patron</option>
            <option value="A">Admin</option>
        </select>
    </div>
    {% endif %}
    <div>
        <button type="submit">Update</button>
    </div>
</form>
{% endblock %}